.footer { /* Darker more professional footer */
  color: #241d1d;
  padding: 30px 0% 0px;
  position: relative;
  z-index: 10;
}

.footer-container {
  display: grid;
  grid-template-columns: 2fr 1fr 1.5fr;
  gap: 50px;
}

.footer-about h2 {
  font-size: 1.8rem;
  color: var(--primary-light);
  margin-bottom: 20px;
  font-size: 72px;
}

.footer-links h3, .footer-contact h3 {
  color: #5c3b10;
  font-size: 32px;
  margin-bottom: 20px;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.footer-links a {
  color: #3a2904;
  transition: 0.3s;
  font-size: 22px;
  margin-bottom: 15px;
  text-decoration: none;
}

.footer-links a:hover {
  color: var(--primary-light);
  padding-left: 5px;
}

.social-icons a {
  background: rgba(255,255,255,0.05);
  width: 40px;
  height: 40px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  transition: 0.3s;
  margin: 20px;
}

.social-icons a:hover {
  background: var(--primary);
  transform: translateY(-5px);
}

.footer-bottom {
  margin-top: 50px;
  border-top: 1px solid rgb(100, 40, 40);
  padding-top: 30px;
  text-align: center;
  color: #666;
}